*{
	margin:0px;
	padding:0px;
}
body{
	border:2px solid black;
	padding:10px;
	width:100%;
	height:100%;
}
header{
	border:2px solid black;
	padding:10px;
	width:100%;
	height:90px;
	background-image:url("logo.png");
	background-size:38% 100%;
	background-repeat:no-repeat;
}
header ol li{
	display:inline-block;
	float:right;
	margin:50px 0px 30px 0px;
	width:170px;
	display:inline-block;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:12px;
	text-align:center;
	color:black;
}
header ol li:hover{
	background-color:#575757;
	border-radius:30px;
	cursor:pointer;
	color:white;
}
main{
	width:100%;
	height:900px;
	margin:20px 0px 20px 0px;
	background-image:url("");
}
section{
	display:flex;
}
aside{
	width:100%;
	height:600px;
	border:2px solid black;
	border-radius:50px;
	margin:0px 50px 0px 100px;
	text-align:center;
	padding:0px 5px 0px 25px;
	
	background-size:100% 100%;
}
aside .a{
	width:90%;
	height:400px;
	margin:10px 520px 0px 0px;
	padding:18px;
}

aside .b{
	width:90%;
	height:400px;
	margin:10px 520px 0px 0px;
	padding:18px;
}

