*{
	margin:0px;
	padding:0px;

}
body{
	border:2px solid black;
	padding:50px;
	background-color:rgb( 61, 9, 72, 1);
	
}
header{
	///border:2px solid black;
	width:100%;
	height:150px;
	///background-color:#575757;
	///margin:50px 0px 50px 0px;

}

header img{
	width:100%;
	height:150px;
}
#c1{
	display:flex;
	border:2px solid black;
	width:100%;
	height:600px;
	margin:0px 350px 0px 0px;
	background-color:white;
	///background-position:center;
	text-align:center;
	justify-content:center;
    align-items:right;
	background-image:url("img1.jpg");
	background-size:100% 100%;
	
}
#c1:hover{
background-color:yellow;
}
form h1{
    font-size: 33px;
    text-align: center;
    padding: 5px;
  }
form{
	width:30%;
	height:500px;
	float:left;
	color:white;
	margin:60px 0px 0px 500px;
	border:2px solid black;
	background:transparent;
	border: 2px solid rgb(45, 21, 21);
	border-radius: 40px;
	padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    justify-content:center-right;
    align-items:right;
	backdrop-filter: blur(2px);
    box-shadow:20px 0px 20px rgb(79, 29, 29);
}
form:hover{
	transform: scale(1.2);
    background-image:url("img2.jpg");
	background-size:100% 100%;
	background-repeat:no-repeat;
	border-radius:30px;
	cursor:pointer;
}
label{
	color: rgb(45, 21, 21);
}
input{
	background:transparent;
	margin:0px 0px 0px 0px;
	width: 65%;
    height: 4%;
    border: 2px solid rgb(45, 21, 21);
	border-radius: 40px;
    outline: none;
    font-size: 16px;
    color:rgb(255, 235, 174);
	padding:10px;
	position: relative;
}
input:hover{
	color:white;
	cursor:pointer;
}
form input::placeholder{
color:rgb(255, 235, 174);
}
.btn{
	border:2px solid black;
	border-radius:40px;
	background:transparent;
	width:30%;
	height:10%;
}
.btn:hover{
	transform:scale(1.2);
	border:2px solid black;
	border-radius:40px;
	cursor:pointer;
}
nav{
	border:2px solid black;
	width:100%;
	height:30px;
	background-color:black;
	text-align:center;
}
nav ol li{
	display:inline-block;
	width:250px;
	font-weight:bold;
	padding-top:12px;
	padding-bottom:10px;
	text-align:center;
	color:white;
}
nav ol li a{
	color:white;
}
nav ol li:hover{
	background-color:#575757;
	border-radius:30px;
	cursor:pointer;
}
nav ol li a:hover{
	background-color:#575757;
	border-radius:30px;
	cursor:pointer;
}
main{
	width:100%;
	height:1900px;
	margin:20px 0px 20px 0px;
	background-image:url("");
}
section{
	display:flex;
}
aside{
	width:40%;
	height:800px;
	border:2px solid black;
	border-radius:50px;
	margin:0px 50px 0px 20px;
	text-align:center;
	padding:0px 5px 0px 25px;
	background-image:url("b.jpg");
	background-size:100% 100%;
	
}
aside .b{
	width:90%;
	height:400px;
	margin:180px 520px 0px 0px;
	padding:18px;
	
}
#c2{
	width:90%;
	height:800px;
	border:2px solid black;
	border-radius:60px;
	margin:0px 20px 0px 0px;
	background-image:url("img3.png");
	background-size:100% 100%;
}
#c2:hover{
	transform: scale(1.3);
	cursor:pointer;
	background-image:url("img4.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.price{
	margin:50px 30px 0px 0px;
	
}
.p1{
	width:70%;
	height:500px;
	border:2px solid black;
	margin:0px 0px 0px 60px;
	background-image:url("siroom.jpg");
	background-size:100% 100%;
	border-radius:40px;	
}
.p1 .h{
	margin:350px 0px 0px 0px;
	color:white;
	font-size: 25px;
    text-align: center;
	background:transparent;
	border: 2px solid rgb(45, 21, 21);
	border-radius: 40px;
	text-shadow:0 0 30px rgb(15,12,8,255);
}
.p1 .h:hover{
	margin:50px 0px 0px 0px;
	cursor:pointer;
}
.p1 .p{
  color: white;
  padding: 20px;
  font-size: 20px;
  display: none;
  margin:350px 0px 0px 0px;
}
 .p1 .h:hover + .p {
	display:block;
	margin:50px 0px 0px 0px;
	cursor:pointer;
}
.p2{
	width:70%;
	height:500px;
	border:2px solid black;
	margin:0px 0px 0px 60px;
	background-image:url("droom2.jpg");
	background-size:100% 100%;
	border-radius:40px;
}.p2 .h{
	margin:350px 0px 0px 0px;
	color:white;
	font-size: 25px;
    text-align: center;
	border:2px solid black;
	border-radius:40px;
}
.p2 .h:hover{
	backdrop-filter: blur(80px);
margin:20px 0px 0px 0px;
cursor:pointer;
}.p2 .p{
  color: white;
  padding: 20px;
  font-size: 20px;
  display: none;
  margin:350px 0px 0px 0px;
}
 .p2 .h:hover + .p {
	display:block;
	margin:50px 0px 0px 0px;
	backdrop-filter: blur(80px);
	cursor:pointer;
}
.p3{
	width:70%;
	height:500px;
	border:2px solid black;
	margin:0px 0px 0px 60px;
	background-image:url("troom.jpg");
	background-size:100% 100%;
	border-radius:40px;
}
.p3 .h{
	margin:350px 0px 0px 0px;
	color:white;
	font-size: 25px;
    text-align: center;
	border:2px solid black;
	border-radius:40px;
}
.p3 .h:hover{
margin:20px 0px 0px 0px;
cursor:pointer;
}
.p3 .p{
  color: white;
  padding: 20px;
  font-size: 20px;
  display: none;
  margin:350px 0px 0px 0px;
}
 .p3 .h:hover + .p {
	display:block;
	margin:50px 0px 0px 0px;
	cursor:pointer;
}
.p4{
	width:70%;
	height:500px;
	border:2px solid black;
	margin:0px 0px 0px 60px;
	background-image:url("room3.jpg");
	background-size:100% 100%;
	border-radius:40px;
}
.p4 .h{
	margin:350px 0px 0px 0px;
	color:white;
	font-size: 25px;
    text-align: center;
	border:2px solid black;
	border-radius:40px;
}
.p4 .h:hover{
margin:20px 0px 0px 0px;
cursor:pointer;
}
.p4 .p{
  color: white;
  padding: 20px;
  font-size: 20px;
  display: none;
  margin:350px 0px 0px 0px;
}
 .p4 .h:hover + .p {
	display:block;
	margin:50px 0px 0px 0px;
	cursor:pointer;
}
.p5{
	width:70%;
	height:500px;
	border:2px solid black;
	margin:40px 0px 0px 60px;
	background-image:url("lroom2.jpg");
	background-size:100% 100%;
	border-radius:40px;
}
.p5 .h{
	margin:350px 0px 0px 0px;
	color:white;
	font-size: 25px;
    text-align: center;
	border:2px solid black;
	border-radius:40px;
}
.p5 .h:hover{
margin:20px 0px 0px 0px;
cursor:pointer;
}
.p5 .p{
  color: white;
  padding: 20px;
  font-size: 20px;
  display: none;
  margin:350px 0px 0px 0px;
}
 .p5 .h:hover + .p {
	display:block;
	margin:50px 0px 0px 0px;
	cursor:pointer;
}
.p6{
	width:70%;
	height:500px;
	border:2px solid black;
	margin:40px 0px 0px 60px;
	background-image:url("croom.jpg");
	background-size:100% 100%;
	border-radius:40px;
}
.p6 .h{
	margin:350px 0px 0px 0px;
	color:white;
	font-size: 25px;
    text-align: center;
	border:2px solid black;
	border-radius:40px;
}
.p6 .h:hover{
margin:20px 0px 0px 0px;
cursor:pointer;
}
.p6 .p{
  color: white;
  padding: 20px;
  font-size: 20px;
  display: none;
  margin:350px 0px 0px 0px;
}
 .p6 .h:hover + .p {
	display:block;
	margin:50px 0px 0px 0px;
	cursor:pointer;
}
.p7{
	width:70%;
	height:500px;
	border:2px solid black;
	margin:40px 0px 0px 60px;
	background-image:url("croom1.jpg");
	background-size:100% 100%;
	border-radius:40px;
}
.p7 .h{
	margin:350px 0px 0px 0px;
	color:white;
	font-size: 25px;
    text-align: center;
	border:2px solid black;
	border-radius:40px;
}
.p7 .h:hover{
margin:20px 0px 0px 0px;
cursor:pointer;
}
.p7 .p{
  color: white;
  padding: 20px;
  font-size: 20px;
  display: none;
  margin:350px 0px 0px 0px;
}
 .p7 .h:hover + .p {
	display:block;
	margin:50px 0px 0px 0px;
	cursor:pointer;
}
.p8{
	width:70%;
	height:50px;
	border:2px solid black;
	margin:40px 0px 0px 60px;
	background-image:url("psroom.jpg");
	background-size:100% 100%;
	border-radius:40px;
}
.p8 .h{
	margin:450px 0px 0px 0px;
	color:white;
	font-size: 20px;
    text-align: center;
	border:2px solid black;
	border-radius:40px;
}
.p8 .h:hover{
margin:20px 0px 0px 0px;
cursor:pointer;
}.p8 .p{
  color: white;
  padding: 20px;
  font-size: 20px;
  display: none;
  margin:350px 0px 0px 0px;
}
 .p8 .h:hover + .p {
	display:block;
	margin:50px 0px 0px 0px;
	cursor:pointer;
}
footer{
	width:100%;
	height:100px;
	background-color:#3d0948;
	background-image:url('b4.jpg');
	background-size:100% 100%;
	text-align:center;
	color:white;
	///margin:50px 0px 50px 0px;
}
footer ul li{
    display:inline-block;
	width:60px;
	font-weight:bold;
	padding-top:30px;
	padding-bottom:10px;
	text-align:center;
	color:white;
	}